<div class="glossary_container">
  <div id="glossary">
    <div id="content">
      <%= link_to(glossary.content, glossary) unless glossary.content.blank?  %>
    </div>
  </div>
  <%= render 'sentences', sentences:glossary.sentences if glossary.sentences.present? %>
  <div class="clear"></div>
</div>
