<div class="glossary">
  <div id="english">
    <%= glossary.english %>
  </div>
  <div id="japanese">
    <%= glossary.japanese %>
  </div>
  <%= render 'sentences', sentences:glossary.sentences if glossary.sentences.present? %>
</div>
