<li class="sentence">
  <div id="english">
    <%= link_to(sentence.english, sentence) unless sentence.english.blank? %>
  </div>
  <div id="japanese">
    <%= link_to(sentence.japanese, sentence) unless sentence.japanese.blank? %>
  </div>
</li>
