<% present @glossary do |presenter| %>
  <%= title @glossary.content %>

  <%= render 'sentences', sentences:@glossary.sentences if @glossary.sentences.present? %>
  <div class="clear"></div>

  <div id="bottom_links">
    <%= presenter.edit_link %>
  </div>
<% end %>
