<%= title @glossary.content %>

<%= render 'sentences', sentences:@glossary.sentences if @glossary.sentences.present? %>
<div class="clear"></div>

<div id="bottom">
  <%= link_to t(:edit), edit_glossary_path(@glossary) %>
</div>
