<% present glossary do |presenter| %>

<div id="content">
  <%= link_to(glossary.display, glossary) unless glossary.content.blank? %>
  <%= presenter.kanjis(glossary) %>
  <%# render 'sentences/kanjis', kanjis:glossary.kanjis if glossary.kanjis.present? %>
</div>

<% end %>
