<% present glossary do |presenter| %>

<li class="glossary">
  <%= presenter.content %>
    <%#= link_to(glossary.display, glossary) unless glossary.content.blank? %>
    <%= render 'sentences/kanjis', kanjis:glossary.kanjis if glossary.kanjis.present? %>
</li>

<% end %>
