<div class="sentence_container">
  <div id="sentence">
    <div id="japanese">
      <%= link_to(sentence.japanese, sentence) %>
    </div>
    <div id="english">
      <%= link_to(sentence.english, sentence) %>
    </div>
  </div>
  <%= render 'glossaries', glossaries:sentence.glossaries if sentence.glossaries.present? %>
  <div class="clear"></div>
</div>
