<% present sentence do |presenter| %>

<li class="sentence">
  <div class="content">
    <%= presenter.japanese %>
    <%= presenter.english %>
  </div>
  <%= presenter.glossaries if glossaries %>
  <div class="clear"></div>
</li>

<% end %>
