<% present sentence do |presenter| %>

<li class="sentence">
  <div class="content">
    <%= presenter.japanese %>
    <%= presenter.english %>
  </div>
  <ul class="glossaries">
    <%= presenter.glossaries if glossaries %>
  </ul>
  <div class="clear"></div>
</li>

<% end %>
