<% present sentence do |presenter| %>

<div class="sentence_container">
  <div id="sentence">
    <div id="japanese">
      <%= link_to(sentence.japanese, sentence) %>
    </div>
    <div id="english">
      <%= link_to(sentence.english, sentence) %>
    </div>
  </div>
  <%= presenter.glossaries %>
  <div class="clear"></div>
</div>

<% end %>
