<%= present Sentence do |presenter| %>
  <%= title pl(:sentence) %>

  <%= render 'sentences', sentences:@sentences if @sentences.present? %>

  <div id="bottom">
    <%= presenter.new_link %>
  </div>
<% end %>
