<%= title @sentence.japanese %>
<%= subtitle @sentence.english %>

<% present @sentence do |presenter| %>

<%= presenter.glossaries %>

<div id="footer">
  <%= presenter.edit_link %>
</div>

<% end %>
