<%= title @sentence.japanese %>
<%= subtitle @sentence.english %>

<%= render 'glossaries', glossaries:@sentence.glossaries if @sentence.glossaries.present? %>
<div class="clear"></div>

<div id="bottom">
  <%= link_to t(:edit), edit_sentence_path(@sentence) %>
</div>
