<% present @sentence do |presenter| %>
  <%= title @sentence.japanese %>
  <%= subtitle @sentence.english %>

  <%= presenter.glossaries %>
  <div class="clear"></div>

  <div id="bottom_links">
    <%= presenter.edit_link %>
  </div>
<% end %>
