<div class="sentence">

  <%= title @sentence.japanese %>
  <%= subtitle @sentence.english %>

  <% present @sentence do |presenter| %>

    <ul class="glossaries">
      <%= presenter.glossaries %>
    </ul>

    <div class="footer">
      <%= presenter.edit_link %>
    </div>

  <% end %>

</div>
