h1
  margin-bottom: 0
h3
  margin-top: 0

a
  text-decoration: none
  color: black

ul
  margin: 0

div#bottom
  margin-top: 10px
  a
    color: red  

div.glossary_container, div.sentence_container
  margin-top: 10px
  &:hover
    background: #eee

div#glossary, div#sentence
  margin-right: 10px
  float: left
div#glossary
  text-align: right
  width: 100px
div#sentence
  width: 300px
ul#sentences, ul#glossaries
  float: left

div.clear
  clear: both
  height: 0
  overflow: hidden

