h1
  margin-bottom: 0
h2
  margin-bottom: 0
h3
  margin-top: 0
h4
  margin-bottom: 0

a
  text-decoration: none
  color: black

ul
  margin: 0

div#bottom_links
  margin-top: 10px
  a
    color: red  

div#glossary, div#sentence
  margin-right: 10px
  float: left
div#glossary
  text-align: right
  width: 100px
div#sentence
  width: 300px
ul#sentences, ul#glossaries
  float: left

ul
  padding-left: 20px

ul.sentences
  li.sentence
    width: 800px
    div.content
      float: left
      width: 380px
    ul.glossaries
      float: left
      width: 380px

ul.glossaries, div.glossary
  div.meaning
    font-style: italic

div.answer
  .white
    color: white 
  
div.clear
  clear: both
  height: 0
  overflow: hidden

span.antonyms
  a
    color: red 
span.similars
  a
    color: darkorange
span.synonyms
  a
    color: green 

$blue: #4B7399
.actions
  a
    color: $blue
    text-shadow: 1px 1px 1px #aaa
    font-size: 12px
    &:hover
      color: #eee
      text-shadow: 1px 1px 1px $blue 

body
  font-family: "Lucida Grande",arial,helvetica,sans-serif

$label_width: 100px
$label_full_width: 100px + 5px
$input_width: 400px
div.form
  padding-left: $label_full_width 
  form
    input.string
      width: $input_width
    label
      float: left
      text-align: right
      width: $label_width
      margin-left: -$label_full_width 
    ul.token-input-list
      width: $input_width+3px !important
      display: inline-block
    span
      &.error
        color: red
        font-style: italic
        margin-left: 5px
