<% present [similar_glossary,main] do |presenter| %>

<li class="similar glossary">
  <%= presenter.content %>
  <%= presenter.actions %>
  <%# link_to synonym_glossary.content, synonym_glossary %>
  <%# presenter.kanjis(synonym_glossary) %>
</li>

<% end %>
